.hero {
    display: flex;
    justify-content: space-around;

    &__title {
        font-family: 'Black Han Sans', sans-serif;
        font-size: 5.5em;
        line-height: 1;
        margin-top: 0.7em;
        width: 50%;
    }

    &__subtitle {
        width: 95%;
        margin: 0.2em 0 0 0.2em;
        padding-bottom: 0.1em;
        border-bottom: 2px solid #e2e2e2;
    }

    &__description {
        width: 80%;
        margin-top: 2em;
        font-size: 1.1em;
        line-height: 1.5;
        margin-left: 0.3em;
        max-width: 33.5em;
    }

    &__image {
        display: block;
        width: 25em;
        height: auto;
        margin-top: 4.5em;
        border-radius: 50%;
        filter: grayscale(0.5);
        -webkit-filter: grayscale(0.5);
    }
}