.other-skills {

    &__title {
        text-align: center;
        font-size: 2.3em;
        font-weight: 100;
        opacity: 0.8;
        padding: 1em 0;
        background-color: $wp-section-color;
        margin-top: 1em;
    }

    &__skill-ilustration {
        display: block;
        width: 10em;
        height: auto;
        margin: 8.5em auto 0 auto;
    }

    &__wrapper {
        display: flex;
    }

    &__content {
        width: 50%;

        &--alternative {
            background-color: $wp-section-color;
        }
    }

    &__skills-list {
        width: 80%;
        margin: 0 auto;
        padding: 2em 0;
        list-style-type: circle;

        li {
            margin-bottom: 1em;
        }
    }
}