.skill-section {

    &__content {
        width: 50%;
        margin-top: 2em;

        p {
            margin-bottom: 1em;
            line-height: 1.7;
        }
    }

    &__wrapper {
        display: flex;
    }

    &__list-wrapper {


        ul {
            background-color: #828282;
            color: $white;
            list-style-type: none;
            width: 80%;
            margin-left: auto;
            padding: 2em;

            li {
                font-size: 0.9em;
                margin-bottom: 0.8em;
                padding-left: 15px;

                &:first-child { 
                    font-size: 1.5em;
                    padding-left: 0;
                }


            }
        }

    }


}