.skill-section {

    &__content {
        width: 50%;
        margin-top: 2em;

        @media all and ( max-width: 835px  ) {
            width: 90%;
            display: block;
            margin: 1em auto 0 auto;
        }

        p {
            margin-bottom: 1em;
            line-height: 1.7;
        }
    }

    &__wrapper {
        display: flex;

        @media all and ( max-width: 835px  ) {
            flex-flow: column;
        }
    }

    &__list-wrapper {


        ul {
            background-color: #828282;
            color: $white;
            list-style-type: none;
            width: 80%;
            margin-left: auto;
            padding: 2em;

            @media all and ( max-width: 835px ) {
                margin: 1em auto 0 auto;
            }

            li {
                font-size: 0.9em;
                margin-bottom: 0.8em;
                padding-left: 15px;

                &:first-child { 
                    font-size: 1.5em;
                    padding-left: 0;
                }


            }
        }

    }


}